<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>
<app-notification-container></app-notification-container>
<ion-content class="forgot-password">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <h2>Recover your password</h2>
          </ion-item>
          <ion-item lines="none">
            <ion-text>Please provide your new password</ion-text>
          </ion-item>
          <ion-item>
            <ion-input
                    name="password"
                    type="password"
                    placeholder="Password"
                    formControlName="password">
            </ion-input>
          </ion-item>
          <app-sb-error
                  *ngIf="changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched"
                  [field]="changePasswordForm.get('password')"
                  fieldName="password">
          </app-sb-error>
          <ion-item>
            <ion-input
                    name="password"
                    type="password"
                    placeholder="Confirm password"
                    formControlName="confirmPassword"></ion-input>
          </ion-item>
          <app-sb-error
                  *ngIf="changePasswordForm.get('confirmPassword').invalid && changePasswordForm.get('confirmPassword').touched"
                  [field]="changePasswordForm.get('confirmPassword')"
                  fieldName="confirmPassword"></app-sb-error>
          <ion-button class="ion-margin-top" expand="full" color="tertiary" shape="round" type="submit">Change password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
