<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Select teammates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="addedTeammates" lines="none" *ngIf="addedTeammates.length > 0">
    <ion-thumbnail *ngFor="let teammate of addedTeammates">
      <img [src]="teammate.profilePicture.url | apiEndpoint">
    </ion-thumbnail>
  </ion-item>
  <ion-searchbar></ion-searchbar>
  <ion-item *ngFor="let teammate of (teammates$ | async)?.users">
    <ion-thumbnail slot="start">
      <img [src]="teammate.profilePicture.url | apiEndpoint">
    </ion-thumbnail>
    <ion-label>
      <h2>{{teammate.firstName}} {{teammate.lastName}}</h2>
    </ion-label>
    <ion-button fill="outline" slot="end" color="tertiary" (click)="addTeammate(teammate)">Add</ion-button>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addTeammates()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
