<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add teammates</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Predrag Zaric</h2>
    </ion-label>
    <ion-button fill="outline" slot="end" color="tertiary">Add</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Ivan Janjic</h2>
    </ion-label>
    <ion-button fill="outline" slot="end" color="tertiary">Add</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Darko Arsic</h2>
    </ion-label>
    <ion-button fill="outline" slot="end" color="tertiary">Add</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Stefan Grujic</h2>
    </ion-label>
    <ion-button fill="outline" slot="end" color="tertiary">Add</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Marko Despotovic</h2>
    </ion-label>
    <ion-button fill="outline" slot="end" color="tertiary">Add</ion-button>
  </ion-item>
</ion-content>
