<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create group
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create group</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
          <ion-item>

            <ion-label>Location</ion-label>
            <ion-select
                    mode="ios"
                    interface="action-sheet"
                    placeholder="Select"
                    formControlName="location">
              <ion-select-option *ngFor="let location of locations$ | async"  [value]="location.id">
                  {{location.name}}, {{location.streetName}} {{location.streetNumber}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Day of week</ion-label>
            <ion-select
                    mode="ios"
                    interface="action-sheet"
                    placeholder="Select"
                    formControlName="dayOfWeek">
              <ion-select-option *ngFor="let day of daysOfWeek" [value]="day">{{day}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>HH:mm</ion-label>
            <ion-datetime displayFormat="HH:mm" formControlName="time"></ion-datetime>
          </ion-item>
          <ion-item *ngFor="let teammate of addedTeammates">
            <ion-thumbnail slot="start">
              <img [src]="teammate.profilePicture.url | apiEndpoint">
            </ion-thumbnail>
            <ion-label>
              <h2>{{teammate.firstName}} {{teammate.lastName}}</h2>
            </ion-label>
            <ion-button fill="outline" slot="end" color="danger" (click)="removeTeammate(teammate)">Remove</ion-button>
          </ion-item>
          <ion-button expand="full" color="tertiary" shape="round" routerLink="create/add-teammates">Add teammates</ion-button>
          <ion-button expand="full" color="danger" shape="round" type="submit">Create</ion-button>
        </form>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
