<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create group
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create group</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <form>
          <ion-item>
            <ion-label>Location</ion-label>
            <ion-select mode="ios" interface="action-sheet" placeholder="Select">
              <ion-select-option value="1">Corn, Grčića Milenka 74, Beograd, Serbia</ion-select-option>
              <ion-select-option value="2">Maximum Effect, Kumodraška 155, Beograd</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Day of week</ion-label>
            <ion-select mode="ios" interface="action-sheet" placeholder="Select">
              <ion-select-option value="1">Monday</ion-select-option>
              <ion-select-option value="2">Tuesday</ion-select-option>
              <ion-select-option value="3">Wednesday</ion-select-option>
              <ion-select-option value="4">Thursday</ion-select-option>
              <ion-select-option value="5">Friday</ion-select-option>
              <ion-select-option value="6">Saturday</ion-select-option>
              <ion-select-option value="7">Sunday</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>HH:mm</ion-label>
            <ion-datetime displayFormat="HH:mm"></ion-datetime>
          </ion-item>
          <ion-button expand="full" color="tertiary" shape="round" routerLink="create/add-teammates">Add teammates</ion-button>
          <ion-button expand="full" color="danger" shape="round">Create</ion-button>
        </form>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
