ion-header.custom-header {
    background-color: #eb445a;
}

ion-col {
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

ion-item.ion-invalid.ion-touched {
    --border-color: #eb445a;
}

.sb-alert {
    border-radius: 0;
    margin-bottom: 0;
}

