<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Sign up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="register">
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <h2>Create an account</h2>
          </ion-item>
          <ion-item>
            <ion-input name="firstName" type="text" placeholder="First name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="lastName" type="text" placeholder="Last name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="email" type="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Confirm password"></ion-input>
          </ion-item>
          <ion-button class="ion-margin-top" expand="full" color="danger" shape="round" type="submit">Sign up</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
