div.profile-picture {
    padding-top: 30px;
    padding-bottom: 10px;
}

span {
    cursor:pointer;
    color: #008080;
}

span:hover {
    text-decoration:underline;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.custom-file-input {
    display: none;
}

.sb-alert {
    border-radius: 0;
    margin-bottom: 0;
}
