<ion-header class="custom-header">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" size="large" [routerLink]="['/login']"></ion-icon>
    </ion-buttons>
    <ion-title color="light">Forgot password?</ion-title>
  </ion-toolbar>
</ion-header>
<app-notification-container></app-notification-container>
<ion-content class="forgot-password">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <h2>Recover your password</h2>
          </ion-item>
          <ion-item lines="none">
            <ion-text>Please enter your email and we'll send you an email to reset your password</ion-text>
          </ion-item>
          <ion-item>
            <ion-input
                    name="email"
                    type="email"
                    placeholder="Email"
                    formControlName="email"></ion-input>
          </ion-item>
          <app-sb-error
                  *ngIf="resetPasswordForm.get('email').invalid && resetPasswordForm.get('email').touched"
                  [field]="resetPasswordForm.get('email')"
                  fieldName="email">
          </app-sb-error>
          <ion-button class="ion-margin-top" expand="full" color="tertiary" shape="round" type="submit">Reset password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
