ion-col {
    text-align: center;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

h2 {
    color: #222428;
}

ion-text {
    text-align: center;
}

a {
    text-decoration: none;
    color: #008080;
}

ion-item.ion-invalid.ion-touched {
    --border-color: #eb445a;
}
